# OS Specific
.DS_Store

# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Build directories
dist
